<div class="control-section rounded-2xl">
  <ejs-grid (actionBegin)="actionBegin($event)" [allowSorting]='true' [dataSource]='data' [editSettings]='editSettings'
            [toolbar]='toolbar'>
    <e-columns>
      <e-column [validationRules]='customeridrules' allowEditing='true' field='name' headerText='Department Name'
                width='120'></e-column>
      <e-column [validationRules]='freightrules' field='facultyId' headerText='Faculty Name' width='120'>
        <ng-template #template let-data>
          {{ getFacultyName(data.id) }}
        </ng-template>
      </e-column>
    </e-columns>
    <ng-template #editSettingsTemplate let-data>
      <div [formGroup]="departmentForm">
        <div class="form-row">
          <div class="form-group">
            <ejs-textbox [value]='data?.name' aria-invalid="true" aria-required="true"
                         class="e-field e-defaultcell e-control e-textbox e-lib" data-name="name"
                         floatLabelType='Always' id="name"
                         name="name"
                         placeholder="Department name"></ejs-textbox>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="facultyId">faculty name</label>
            <ejs-dropdownlist (change)='onFacultyChange($event)' (filtering)='onFiltering($event)'
                              (select)="getFacultyName(data.id)" [allowFiltering]='true'
                              [dataSource]='facultyDataSource'
                              [fields]="{text: 'name', value: 'id'}" [filterBarPlaceholder]="filterPlaceholder"
                              [placeholder]='watermark' [popupHeight]='height' [value]='getFacultyId(data.id)'
                              aria-invalid="true" aria-required="true" class="e-field"
                              id="facultyId" name="facultyId"></ejs-dropdownlist>


          </div>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</div>

<ejs-toast #toasttype></ejs-toast>
