<div class="control-section flex h-full justify-center flex-col">
  <div class="col-lg-12">
    <div
      class="control_wrapper"
      id="control_wrapper"
      style="margin: 25px auto;"
    >
      <form [formGroup]="form" id="reactive">
        <h2 class="form-title"><strong>Registration Form</strong></h2>

        <div class="form-group template">
          <div
            [ngClass]="{ 'e-success': form?.controls.username.valid }"
            class="e-float-input"
          >
            <input
              class="required"
              formControlName="username"
              id="username"
              name="username"
              placeholder="johndoe123"
              type="text"
            />
            <span class="e-float-line"></span>
            <label class="e-float-text" for="username"><p>Username</p></label>
          </div>
          <app-field-error-display [displayError]="isFieldValid('username')" errorMsg="* Enter a valid username">
          </app-field-error-display>
        </div>
        <div class="form-group template">
          <div
            [ngClass]="{ 'e-success': form?.controls.email.valid }"
            class="e-float-input"
          >
            <input
              (focusout)="focusoutfunction($event)"
              class="required"
              formControlName="username"
              id="email"
              name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              placeholder="johndoe@example.com"
              type="text"
            />
            <span class="e-float-line"></span>
            <label class="e-float-text" for="email"><p>Email</p></label>
          </div>
          <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="* Enter a valid email address">
          </app-field-error-display>
        </div>
        <div class="form-group template">
          <div
            [ngClass]="{ 'e-success': form?.controls.password.valid }"
            class="e-float-input"
          >
            <input
              class="required"
              formControlName="password"
              id="password"
              name="password"
              placeholder="Password123"
              type="password"
            />
            <span class="e-float-line"></span>
            <label class="e-float-text" for="password"><p>Password</p></label>
          </div>
          <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="* Enter a valid password">
          </app-field-error-display>
        </div>


        <p><a routerLink="../login">Already have an account? Authorize</a></p>
        <div class="form-group template">
          <div class="submitBtn">
            <button
              (click)="Submit()"
              [disabled]="form?.invalid"
              class="submit-btn e-btn"
              id="submit-btn"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
      <ejs-dialog
        #Dialog
        [animationSettings]="animationSettings"
        [content]="content"
        [header]="formHeader"
        [isModal]="isModal"
        [showCloseIcon]="showCloseIcon"
        [target]="target"
        [visible]="visible"
        [width]="width"

        id="confirmationDialog"
      >
      </ejs-dialog>


    </div>
  </div>
</div>
