<div class="control-section default-appbar-section">
  <div class="default-appbar-container">
    <div class="row">
      <div class="col-md-12">
        <ejs-appbar class="bg-purple-500">
          <img alt="logo" class="logo_img h-16 w-16 mr-3" routerLink="/schedule" src="assets/img/logo.png">
          <span class="logo_text regular text-3xl"><b>MySchedule</b></span>

          <div class="e-appbar-spacer"></div>
          <div class="flex gap-5">

            @if (username) {
              <ng-container *ngFor="let item of scheduleItems">
                <button *ngIf="!isSmallScreen" class="e-inherit hover:text-purple-600" content="{{item.text}}"
                        cssClass="e-flat schedule-btn header-btn" ejs-button
                        iconCss="{{item.iconCss}}"
                        iconPosition="Left" [routerLink]="item.url"  routerLinkActive="active">
                </button>
              </ng-container>

                <button (select)="select($event)" [items]='items' class="e-inherit header-btn" content="{{username}}"
                        ejs-dropdownbutton
                        iconCss="e-ddb-icons e-profile"></button>

            } @else {
              <button routerLink="../auth/login" class="e-inherit header-btn" content="Login" routerLinkActive="active"
                      ejs-button
                      iconCss="e-ddb-icons e-profile"></button>
            }
          </div>
        </ejs-appbar>
      </div>
    </div>
    <br/>
  </div>
</div>
