<div class="control-section rounded-2xl">
  <ejs-grid [dataSource]='data' [allowSorting]='true' [editSettings]='editSettings' [toolbar]='toolbar' (actionBegin)="actionBegin($event)">
    <e-columns>
      <e-column field='name' headerText='Teacher name' width='120' [validationRules]='customeridrules' allowEditing='true'></e-column>
      <e-column field='surname' headerText='Teacher surname' width='120' format='C2' [validationRules]='freightrules'></e-column>
    </e-columns>
  </ejs-grid>
</div>

<ejs-toast #toasttype></ejs-toast>
