.active {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  color: #893AC7;
}

.e-btn.e-inherit:hover, .e-btn.e-inherit:focus, .e-btn.e-inherit:active, .e-btn.e-inherit.e-active, .e-css.e-btn.e-inherit:hover, .e-css.e-btn.e-inherit:focus, .e-css.e-btn.e-inherit:active, .e-css.e-btn.e-inherit.e-active {
  color: #893AC7;
  border-radius: 8px;
}

.e-btn.e-inherit, .e-btn.e-inherit, .e-btn.e-inherit, .e-btn.e-inherit.e-active, .e-css.e-btn.e-inherit, .e-css.e-btn.e-inherit, .e-css.e-btn.e-inherit, .e-css.e-btn.e-inherit.e-active {
  color: rgba(0, 0, 0, .87);
  border-radius: 8px;
}

tbody {
  cursor: pointer;
}

.e-profile::before {
  content: "\e703";
}

.e-location::before {
  content: "\e30c";
}

.e-people::before {
  content: "\e424";
}

.e-copy::before {
  content: "\e70a";
}

.e-display::before {
  content: "\e358";
}

.e-table::before {
  content: "\e705";
}

.e-justify::before {
  content: "\e334";
}

.increase-indent::before {
  content: "\e33f";
}




