<div class="control-section accordion-control-section">
  <div class="e-sample-resize-container m-5 rounded-2xl">
    <ejs-accordion class="p-3 rounded-2xl">
      <e-accordionitems >
        <e-accordionitem expanded='true'>

          <ng-template #header class="flex items-center">
            <div class="pl-4 font-bold text-3xl">List of groups</div>
          </ng-template>
          <ng-template #content>
            <div class="property-section property-customization bg-white rounded">
              <div class="property-panel-section">
                <ejs-grid #grid [dataSource]='data' allowPaging='true' (rowSelected)='onRowSelected($event)'>
                  <e-columns>
                    <e-column field='name' headerText='Group name' textAlign='Left' width='100'></e-column>
                    <e-column field='department.name' format="C2" headerText='Department' textAlign='Left'
                              width='100'></e-column>
                    <e-column field='quantity' headerText='Quantity' textAlign='Left' width='70'></e-column>
                  </e-columns>
                </ejs-grid>

              </div>
            </div>
          </ng-template>
        </e-accordionitem>
      </e-accordionitems>
    </ejs-accordion>
    <app-myschedule *ngIf="selectedGroup && selectedGroupScheduleCells" [selectedGroup]="selectedGroup" [selectedGroupScheduleCells]="selectedGroupScheduleCells" [scheduleData]="scheduleData"></app-myschedule>


  </div>
</div>


